# These environment variables will be shared between the jenkins container and the nix-shell environment
USER_DEV_PASSWORD=""
USER_ADMIN_PASSWORD=""
USER_WEBHOOK_PASSWORD=""
JOB_REMOTE_TOKEN=""
HOST_DOCS_FOLDER=/docs_archive
CASC_JENKINS_CONFIG=/config/jenkins.yaml