version: '3.8'
services:
  jenkins:
    build:
      .
    ports:
        - 8080:8080
    env_file:
      - .env
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - ./jenkins.yaml:/config/jenkins.yaml
      - ./job_dsl.groovy:/job_dsl.groovy
      - ./${DOCS_FOLDER}:/${DOCS_FOLDER}
    environment:
      - CASC_JENKINS_CONFIG=/config/jenkins.yaml
      - DOCS_FOLDER=${DOCS_FOLDER}